@media (prefers-color-scheme: dark) {
    html{
            max-width=500px;
            background: #1E1F21;
            color: #EEEFF1;
            font-family: sans-serif;
    }
    a {
            color: #BAD7FF;
            text-decoration:none;
            border-bottom:thin dotted;
    }
}

@media (prefers-color-scheme: light) {
    html{
            max-width=500px;
            font-family: sans-serif;
            background: #EEEFF1;
    }
    a {
            text-decoration:none;
            border-bottom:thin dotted;
    }
}


html {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-bottom: 200px;
	font-family:Serif;
}
img{
        display:block;
        margin-left:auto;
        margin-right:auto;
        max-width:90%;
}


.entry {
	border-left: 10px solid purple;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
	}

.entry h2 { margin: 5px auto 2px auto; }

.mono {
    font-family:monospace;
}
