@media (prefers-color-scheme: light) {
    body {
        background-color: #dddddd;
        color: black;
    }
	.entry {
		background-color:#eeeeee;
		color:#252123;
	}
	a {
		color:darkblue;
		text-decoration:none;
	}
	.bar {
		background:#cccccc;
		border-color:#a1a1a1;
	}
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222222;
        color: white;
    }
	a:hover { color: lightblue; }
	a {
		color:lightblue;
		text-decoration:none;
	}
	.entry {
		color:#eeeeee;
		background-color:#252123;
	}
	.bar {
		background:#414141;
		border-color:#646464;
	}
}

html{
	font-family:Serif;
	text-align:center;
}
.bar {
	font-family:Serif;
    font-size:11pt;
	font-weight:bold;
	display:inline-block;
	padding:5px;
	border-radius:5px;
	text-align:center;
	border-style:solid;
	border-width:thin;
}
.tagline{
	text-align:left;
	max-width:1024px;
	margin:0 auto;
}
.tagline a{
	text-decoration:underline;
}
.normal{
	text-align:left;
	max-width:1280px;
	margin:0 auto;
}
.homepage{
    text-align:left;
    max-width:768px;
    margin:0 auto;
}
.homepage a{
	text-decoration:underline;
}
.callout {
    font-weight:bold;
}
table, th, td, tr {
    border: 1px solid;
    border-collapse: collapse;
    padding: 4px;
}
img {
    max-width:100%;
}
.mono {
    font-family:monospace;
    font-size:1.5em;
}
