Options +Indexes
AddDescription "Toying with macOS" "toying-with-macos.html" #Mon, 09 Mar 2020 16:48:10 -0700
AddDescription "Automate These Things" "automate-these-things.html" #Fri, 20 Mar 2020 16:42:42 -0700
AddDescription "New Laptop" "new-laptop.html" #Fri, 17 Apr 2020 14:38:40 -0700
AddDescription "Ubuntu Derivatives" "ubuntu-derivatives.html" #Thu, 30 Apr 2020 19:55:47 -0700
AddDescription "Port Forwarding and Dependencies" "port-forwarding-and-dependencies.html" #Thu, 07 May 2020 06:27:28 -0700
AddDescription "How To Disable All Windows 10 Built-In Ads" "how-to-disable-all-windows-10-builtin-ads.html" #Sun, 10 May 2020 04:50:33 -0700
AddDescription "Home Security Cameras" "home-security-cameras.html" #Mon, 18 May 2020 13:33:30 -0700
AddDescription "Home Surveillance Tier List" "home-surveillance-tier-list.html" #Mon, 18 May 2020 13:36:52 -0700
AddDescription "Good Beers" "good-beers.html" #Wed, 20 May 2020 19:49:28 -0700
AddDescription "Secure Non Smart Phone" "secure-non-smart-phone.html" #Sat, 23 May 2020 16:09:37 -0700
AddDescription "Everything Is A Million Miles Deep" "everything-is-a-million-miles-deep.html" #Fri, 29 May 2020 16:50:44 -0700
AddDescription "Children and Modern Media" "children-and-modern-media.html" #Tue, 02 Jun 2020 12:40:27 -0700
AddDescription "The Rules Matter" "the-rules-matter.html"
AddDescription "Web Server Video Streaming" "web-server-video-streaming.html" #Mon, 15 Jun 2020 19:14:11 -0700
AddDescription "Like It's The 2000s" "like-its-the-2000s.html" #Mon, 15 Jun 2020 19:29:06 -0700
